@import '_normalize';
@import url(http://fonts.googleapis.com/css?family=Cardo:400,700,400italic);

body {
  background: #fff;
  font-family: Cardo, Gerogia, serif;
}

.main-wrapper {
  width: 80%;
  margin: 0 auto;
}
